.mainPanel_container {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
  gap: 15px;

  overflow: scroll;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 30px;
  padding: 5px;
  background-color: var(--side-bar-bg);
}

.task:hover {
  transform: translateY(-1px);
  box-shadow: 0.2rem 0.2rem 0.2rem;
}

.taskPart_left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.taskPart_right {
  display: flex;

  width: 300px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.detailButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 2px solid aquamarine;
  border-radius: 2px;
  padding: 2px;
  color: aquamarine;
  cursor: pointer;
}

.detailButton:hover {
  background-color: aquamarine;
  color: white;
}

.dueDate {
}
