.root {
  --header-bg: rgb(39, 39, 39);
  --header-font-color: white;

  --main-bg: white;

  --modal-bg: grey;
}

body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  height: 100px;
  padding: 20px;
  margin: 0;
  background-color: var(--header-bg);
}

.main {
  flex: 1;

  background-color: var(--main-bg);
}

.foot {
  height: 40px;

  background-color: var(--header-bg);
}

.modal {
  position: fixed;
  background-color: var(--modal-bg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.fade {
  opacity: 0;
}

.show {
  opacity: 0.45;
}
